{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Bad token" %}{% endblock %}

{% block body %}
<div class="small-header poster-wrapper ">
  <h1>{% trans "Bad Token" %}</h1>
</div>

<div class="poster-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {% if not resend %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url "account_password_reset" %}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url "account_password_reset" %}">new password reset</a>.{% endblocktrans %}</p>
        {% endif %}
        </div>
    </div>
  </div>
</div>









{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Bad token" %}{% endblock %}

{% block body %}
    <h1>{% trans "Bad token" %}</h1>
    {% url "account_password_reset" as url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
{% endblock %}
